.h2, h2{
    margin-top: 0px;
}
ul{
    padding-left: 0px;
}
li{
    list-style: none;
}
.stages{
    border-top: 3px solid #ccc;
    max-width: 750px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 120px;
}
.stage .round{    
    padding: 2px 13px;
    background: #ccc;
    border-radius: 50px;
    color: #00003f;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}
body.checkout-1 .main.container,
body.checkout-2 .main.container,
body.checkout-3 .main.container,
body.checkout-4 .main.container{
    margin-top: 40px;
}
body.checkout-1 .stage.one .round{
    background: #ffcf3e;
}
body.checkout-2 .stage.two .round{
    background: #ffcf3e;
}
body.checkout-3 .stage.three .round{
    background: #ffcf3e;
}
body.checkout-4 .stage.four .round{
    background: #ffcf3e;
}
body.checkout-5 .stage.five .round{
    background: #ffcf3e;
}
.stage a:hover .round,
a:focus, a:hover{
    text-decoration: none !important;

}
.stage {
    float: left;
    position: absolute;
    top: -25px;
}
.stage .round-container{
    width: 45px;
    margin: 0 auto;
}
.stage >span{
    display: block;
    margin-top: 15px;
    text-align: center;
}
.stage.one{
    left: -20px;
}
.stage.two{
    left: 19%;
}
.stage.three{
    left: 46%;
}
.stage.four{
    right: 15%;
}
.stage.five{
    right: -10px;
}
.detail-product .image{
    float: left;
    width: 35%;
}
.detail-product .image img{
    width: 100%;
}
.detail-product .detail{
    float: left;
    width: 45%;
    margin-left: 40px;
    margin-top: 80px;
}
.detail-product .detail .items {
    line-height: 35px;
    margin: 10px;
    overflow: hidden;
}
.detail-product .detail .items label{
    min-width: 130px;
    float: left;
}
.detail-product .detail .items select{
    float: left;
    min-width: 360px;
    height: 40px;
}
.detail-product .detail button{
    margin-left: 145px;
    background: #ffcf3e;
    padding: 10px 40px 10px 10px;
    border: none;
}
.detail-product .detail button span{
    font-weight: bold;
}

/*upload*/
.detail-product{
    border: 2px solid #fece3e;    
    position: relative;
}
.detail-product > .button{
    position: absolute;
    bottom: -25px;
    right: 4%;
}
.detail-product > .button button{
    background: #fece3e;
    border: 0px;
    padding: 10px 20px;
}
.detail-product > .button button span{
    font-size: 20px;
    font-weight: bold;
}
.detail-product .detail .upload {
    margin: 10px;
}
.detail-product .detail .upload>div{
    line-height: 35px;
}
.detail-product .detail .upload label,
.detail-product .detail .upload form{
    float: left;
    min-width: 130px;
}
.detail-product #slider #imgInpfront,
.detail-product #slider #imgInpback{
    display: none;
    margin: 0 auto;
}
.detail-product #slider img{
    width: 100%;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}
#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin-bottom: 30px;
  padding: 0;
  width: 100%;
  text-align: center;
  line-height: 300px;
}
#slider ul li .item{
    width: 75%;
    margin: 0 auto;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: transparent;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 1s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}


/*checkoout design*/
.checkout-2 .preview{
    background: #ccc;    
    overflow: hidden;
}
.checkout-2 .preview .sides{
    width: 46%;
    float: left;
    margin: 20px;
}
.checkout-2 .preview .sides img{
    max-width: 200px;
    max-height: 110px;
    margin: 20px;
    position: relative;
    background: white;
    width: 200px;
    height: 110px;
}
.checkout-2 .preview .sides .front,
.checkout-2 .preview .sides .back{
    width: 50%;
    float: left;
    text-align: center;
}
.checkout-2 .preview .sides .front img,
.checkout-2 .preview .sides .back img{
    display: none;
}
.checkout-2 .preview .sides .beforeselectimage{
    max-width: 200px;
    max-height: 110px;
    margin: 20px auto;
    position: relative;
    background: white;
    width: 200px;
    height: 110px;
}
.checkout-2 #dialog.lnv-dialog-confirm .lnv-dialog{
    max-width: 480px;
}
.checkout-2 #dialog.lnv-dialog-confirm .lnv-dialog .lnv-dialog-bd{
    text-align: center;
}



/*checkout-pembayaran*/
.cart-checkout .lanjutkan{
    cursor: pointer;
    background: #ffcf3e;
    position: absolute;
    width: 100px;
    padding: 8px 11px;
    bottom: -16px;
    right: 13px;
}
.checkout-3 .cart-checkout .cart-container .lanjutkan{
    bottom: 70px;
}
.cart-checkout .pembayaran .lanjutkan{
    width: 180px;
}
.checkout-3 .cart-checkout .shipping,
.checkout-3 .cart-checkout .billing{
    display: none;
}

.checkout-3.edit .cart-checkout .shipping,
.checkout-3.edit .cart-checkout .billing{
    display: block;
}
.checkout-3 .billing input.checkbox{
    float: left;
}
.checkout-3 .billing ul{
    overflow: hidden;
}


.cart-checkout .login,
.cart-checkout .cart-container,
.cart-checkout .shipping,
.cart-checkout .billing,
.cart-checkout .pembayaran{
    border: 1px solid #ffcf3e;
    padding: 40px;
    position: relative;
    margin-bottom: 40px;
}
.cart-checkout .head{
    background: #385379;
    line-height: 60px;
    text-align: center;
}
.cart-checkout .head span{
    font-size: 30px;
    color: white;
}
.cart-checkout .cart-container{
    width: 100%;
    max-width: 100%;
    padding: 0px;
    border: 0px;
    margin-top: 40px;
}
.cart-checkout .cart-container .itemcontainer{
    overflow: hidden;
    margin-bottom: 40px;
}
.cart-checkout .cart-container .itemcontainer .image-preview{
    width: 50%;
    float: left;
    padding: 40px;    
    text-align: center;
}
.cart-checkout .cart-container .itemcontainer .image-preview span{
    font-family: 'harmonia-bold';
    margin-bottom: 20px;
}
.cart-checkout .cart-container .itemcontainer .image-preview img{
    max-width: 426px;
    max-height: 239px;
    width: 100%;
}
.cart-checkout .cart-container .itemcontainer .items{
    width: 50%;
    float: right;
    border: 1px solid #ffcf3e;
    padding: 40px;   
    position: relative;
}
.cart-checkout .cart-container .itemcontainer .items .detailed span.delete-item a span{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 4px 10px;
    background: #ffcf3e;
}
.cart-checkout .cart-container label{
    min-width: 130px;
}
.cart-checkout .cart-container .total strong{
    font-size: 18px;
}
.cart-checkout .cart-container ul{
    padding: 0;
}
.cart-checkout .cart-container ul li{
    list-style: none;
}
.cart-checkout .cart-container ul li label{
    min-width: 130px;
}
.cart-checkout .cart-container .separator{
    min-width: 140px;
    border-top: 2px solid #385379;
    margin: 20px 0px;
}
.cart-checkout .billing input#button{
    cursor: pointer;
    background: #ffcf3e;
    position: absolute;
    width: 165px;
    padding: 8px 11px;
    bottom: -16px;
    font-family: 'harmonia-light';
    right: 13px;
    border-radius: 0;
    color: black;
    border: 0px;
}

/*login start*/
.cart-checkout .login .left{
    /*float: left;*/
    width: 49%;
    padding: 20px;
    float: none;
    margin: 0 auto;
}
.cart-checkout .login .left h2{
    margin-top: 0px;
}
.cart-checkout .login .left input{
    width: 96%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid black;
    margin-bottom: 15px;
    padding: 10px;
}
.cart-checkout .login .left .button-login,
.cart-checkout .login .left .button-signup{
    float: left;
}
.cart-checkout .login .left button{
    height: 50px;
    min-width: 220px;
    background: grey;
    border: none;
    margin-right: 18px;
}
.cart-checkout .login .left span{
    color: white;
}
.cart-checkout .login .left .button-signup button{
    background: #9e9e9e;
}
.cart-checkout .login .left .facebook{
    max-width: 458px;
    margin-top: 20px;
}
.cart-checkout .login .left .facebook p{
    text-align: center;
}
.cart-checkout .login .left .facebook .button-facebook button{
    width: 100%;
    background: #385379;
}
.cart-checkout .login .separator{
/*    height: 353px;
    float: left;
    border: 1px solid grey;*/
    display: none;
}
.cart-checkout .login .right{
    display: none;
    /*float: left;
    width: 50%;
    padding: 40px;
    padding-top: 140px;*/
}
.cart-checkout .login .right .button-quick div{
    width: 220px;
    margin: 0 auto;
}
.cart-checkout .login .right .button-quick button{
    height: 50px;
    min-width: 220px;
    background: #385379;
    border: none;
    margin-right: 18px;
}
.cart-checkout .login .right .button-quick button span{
    color: white;
}
.cart-checkout .login .right .button-quick p{
    text-align: center;
    margin-top: 20px;
}

/*shipping - billing start */
.cart-checkout .shipping li,
.cart-checkout .billing li{
    line-height: 40px;
    margin-bottom: 10px;
}
.cart-checkout .shipping label,
.cart-checkout .billing label{
    min-width: 200px;
}
.cart-checkout .shipping input,
.cart-checkout .billing input{
    width: 60%;
    border-radius: 8px;
    border: 1px solid grey;
    padding: 0px 10px;
}
.cart-checkout .shipping input[type=radio]{
    width: auto;
}
.cart-checkout .shipping textarea,
.cart-checkout .billing textarea{
    resize: none;
    width: 60%;
    border-radius: 8px;
    border: 1px solid grey;
    padding: 0px 10px;
}
.cart-checkout .shipping select,
.cart-checkout .billing select{
    width: 60%;
    border-radius: 8px;
    border: 1px solid grey;
    padding: 0px 10px;
    height: 40px;
}
.cart-checkout .billing .checkbox{
    width: auto;
    margin-bottom: 20px;
    margin-right: 10px;
}

/*pembayaran start*/
.cart-checkout .pembayaran .left,
.cart-checkout .pembayaran .right{
    float: left;
    width: 48%;
}
.cart-checkout .pembayaran .left{
    margin-right: 20px;
}
.cart-checkout .pembayaran .right .cart-container{
    border: 1px solid #ffcf3e;
    padding: 40px;
    position: relative;
    margin:0px;
}
.cart-checkout .pembayaran .right .cart-container img{
    margin-bottom: 10px;
}
.cart-checkout .pembayaran .right .cart-container a{
    text-decoration: underline !important;
}
.cart-checkout .pembayaran .right .cart-container > .total{
    margin-top: 20px;

}
.cart-checkout .pembayaran .bank img{
    width: 20%;
}
.cart-checkout .pembayaran .bank p{
    margin-bottom: 0px;
}
.cart-checkout .pembayaran .left .shipping-billing{
    background: #cccccc;
    padding: 20px;
    margin-top: 20px;
}
.cart-checkout .pembayaran .left .shipping-billing h3{
    margin-top: 0px;
    font-size: 16px;
    font-weight: bold;
    float: left;
    margin-right: 10px;
}
.cart-checkout .pembayaran .left .shipping-billing a{
    float: left;
}
.cart-checkout .pembayaran .left .shipping-billing p{
    margin-bottom: 0px;
}
.cart-checkout .pembayaran .left .shipping-billing .left,
.cart-checkout .pembayaran .left .shipping-billing .right{
    width: 47%;
    float: left;
}

/*start of checkout confirm payment*/
body.checkout-4 .cart-checkout>.cart-container,
body.checkout-4 .login,
body.checkout-4 .shipping,
body.checkout-4 .billing{
    padding: 0px;
    max-width: none;
    border: none;
}
body.checkout-4 .cart-checkout>.cart-container .container,
body.checkout-4 .login .container,
body.checkout-4 .shipping .container,
body.checkout-4 .billing .container{
    border: 1px solid #ffcf3e;
    padding: 30px;
    max-width: 550px;
    float: right;
}
body.checkout-4 .cart-checkout .cart-container .left,
body.checkout-4 .cart-checkout .cart-container .right,
body.checkout-4 .cart-checkout .login .left,
body.checkout-4 .cart-checkout .login .right{
    float: left;
    width: auto;
    margin-right: 20px;
}
body.checkout-4 .cart-checkout .cart-container .left,
body.checkout-4 .cart-checkout .login .left{
    min-width: 80px;
}

body.checkout-4 .cart-checkout .cart-container ul li label{
    min-width: 77px;
}
body.checkout-4 .h2, h2{
    font-size: 19px;
    text-transform: uppercase;
}
body.checkout-4 .cart-checkout .cart-container .left h2{
    line-height: 44px;
}

body.checkout-4 .cart-checkout .login .right,
body.checkout-4 .cart-checkout .login .left{
    padding: 0px;
}

/*success start*/
body.checkout-5 .bx-wrapper p{
    text-align: left;
}
body.checkout-5 .bx-wrapper .bx-loading{
    display: none;
}
body.checkout-5 .cart-checkout{
    text-align: center;
}
body.checkout-5 .image div.image-container{
    width: 610px;
    margin: 0 auto;
}
body.checkout-5 .image img{
    width: 100%;
}
body.checkout-5 .pembayaran{
    margin-top: 40px;
}
body.checkout-5 .pembayaran .head{
    border-bottom: 1px solid #ffcf3e;
    background: transparent;
}
body.checkout-5 .pembayaran .container{
    padding:40px;
}
body.checkout-5 .pembayaran .container .left strong{
    float: left;
    font-size: 35px;
    padding: 20px;
    padding-left: 150px;
}
body.checkout-5 .pembayaran .container .left p{
    float: right;
    line-height: 80px;
}
body.checkout-5 .pembayaran .container .right .bank{
    width: 158px;
    margin: 0 auto;
}
body.checkout-5 .pembayaran .container .right .bank img{
    width: 100%;
}
body.checkout-5 .confirm-alert {
    width: 60%;
    margin: 0 auto;
    background: #385379;
    padding: 20px;
}
body.checkout-5 .confirm-alert p{
    margin: 0px;
    color: white;
}
body.checkout-5 .etc .button-payed{
    width: 172px;
    margin: 0 auto;
    margin-top: 25px;
}
body.checkout-5 .etc .button-payed span{
    padding: 10px 10px;
    background: #385379;
    color: white;
}
body.checkout-5 .etc .button-back{
    width: 148px;
    margin: 0 auto;
    margin-top: 25px;
}
body.checkout-5 .etc .button-back span{
    padding: 10px 10px;
    background: #ffcf3e;
    color: rgb(96, 125, 139);
}

body.checkout-5 .bx-wrapper .bx-controls-direction .bx-next{
    background-size: auto;
    background-position: -43px 0px;
    right: 20px;
}
body.checkout-5 .bx-wrapper .bxslider h2{
    text-align: left;
    margin-top: 10px;
}

/*responsive*/

@media only screen and (max-width: 770px) {
    /*checkout 1*/
    body.checkout-1 .main.container,
    body.checkout-2 .main.container,
    body.checkout-3 .main.container,
    body.checkout-4 .main.container,
    body.checkout-5 .main.container{
        margin-top: 0px;
    }
    .stages,
    .stage{position: relative;}
    .stages {
        border-top: 1px solid grey;
        max-width: 750px;
        margin-top: 20px;
        position: relative;
        padding-top: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid grey;
        padding-bottom: 20px;
    }
    .stages .stage{
        left: 0px;
        right: 0px;
        top: 0px;
        float: none;
        overflow: hidden;
    }
    .stage .round-container{
        margin-right: 20px;
        float: left;
        width: auto;
    }
    .stage >span{
        float: left;
        margin-top: 0px;
        line-height: 30px;
    }
    .stage .round {
        padding: 0px 7px;
        background: grey;
        border-radius: 50px;
        color: #00003f;
        text-decoration: none;
        font-size: 21px;
    }
    .detail-product .detail {
        float: left;
        width: 65%;
        padding-left: 40px;
        margin-left: 0px;
        margin-top: 0px; 
    }
    .detail-product .detail .items select {
        min-width: 250px;
        width: 250px;
    }

    .cart-checkout .login .left{
        width: 100%;
    }

    body.checkout-1 .detail-product .detail #form_checkout h3,
    body.checkout-1 .detail-product .detail #form_checkout p{
        margin-left: 10px;
    }


    /*checkout 2*/

    body.checkout-2 #slider{
        width: 100%;
        height: 200px !important;
    }
    body.checkout-2 #slider .item img{
        vertical-align: top;
    }

    body.checkout-2 #slider a.control_prev,
    body.checkout-2 #slider a.control_next{
        top: 9%;
    }
    .checkout-2 .preview .sides{
        width: 100%;
        float: none;
        margin: 0px;    
        margin-bottom: 20px;
        padding: 10px;
    }
    body.checkout-2 .preview .sides .front, 
    body.checkout-2 .preview .sides .back{
        width: 100%;
        float: none;
    }
    .checkout-2 .preview .sides img{
        margin: 20px auto;
    }
    .checkout-2 #dialog.lnv-dialog-confirm .lnv-dialog{
        max-width: 306px;
    }

    .cart-checkout .cart-container {
        max-width: 100%;
        margin: 20px auto;
        width: 100%;
        padding: 20px;
    }

    /*cart / pembayaran*/
    .checkout-3 .cart-checkout .cart-container .itemcontainer .image-preview,
    .checkout-3 .cart-checkout .cart-container .itemcontainer .items{
        width: 100%;
    }
    .checkout-3 .cart-checkout .cart-container .itemcontainer .image-preview{
        margin-bottom: 20px;
        padding: 0px;
    }
    .checkout-3 .cart-checkout .cart-container .lanjutkan{
        bottom: 75px;
    }
    .checkout-3.edit .billing,
    .checkout-3.edit .shipping{
        display: block;
    } 
    .cart-checkout .lanjutkan{
        right: 33px;
    }


    /*konfirmasi pembayaran*/
    body.checkout-4 .cart-checkout>.cart-container .container, 
    body.checkout-4 .login .container, 
    body.checkout-4 .shipping .container, 
    body.checkout-4 .billing .container{
        max-width: 100%;
        width: 100%;
    }
    body.checkout-4 .cart-checkout .pembayaran .left .shipping-billing .left, 
    body.checkout-4 .cart-checkout .pembayaran .left .shipping-billing .right{
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
    body.checkout-4 .cart-checkout .pembayaran .left{
        margin-bottom: 20px;
    }
    body.checkout-4 .cart-checkout .pembayaran .right .cart-container{
        padding: 10px;
    }
    body.checkout-4 .cart-checkout .pembayaran .left, 
    body.checkout-4 .cart-checkout .pembayaran .right{
        width: 100%;
    }
    body.checkout-4 .cart-checkout .pembayaran .right .cart-container > .total{
        text-align: left;
    }


    /*success*/
    body.checkout-5 .image div.image-container{
        width: 100%;
    }
    body.checkout-5 .pembayaran{
        padding: 10px;
    }
    body.checkout-5 .pembayaran .container{
        padding: 0px;
    }
    body.checkout-5 .pembayaran .container .left strong{
        padding: 20px;
        width: 100%;
    }
    body.checkout-5 .pembayaran .container .left p{
        float: none;
    }
    body.checkout-5 .cart-checkout .pembayaran .right{
        width: 100%;
        height: auto !important;
        margin-bottom: 20px;
    }
    body.checkout-5 .confirm-alert{
        width: 100%;
    }


    .cart-checkout .pembayaran .left{
        width: 100%;
    }
    .bx-wrapper .bx-controls-direction .bx-prev {
        left: 10px;
    }
    .bx-wrapper .bx-controls-direction .bx-prev {
        left: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .detail-product .image {
        float: none;
        width: 35%;
        margin: 0 auto;
    }
    .detail-product .detail {
        width: 100%;
        padding-left: 0px;
    }
    .detail-product .detail .items select,
    .cart-checkout .shipping input, 
    .cart-checkout .billing input,
    .cart-checkout .shipping textarea, .cart-checkout .billing textarea,
    .cart-checkout .shipping select, .cart-checkout .billing select {
        width: 100%;
    }
    .detail-product .detail button {
        margin-left: 0px;
        padding: 10px 20px;
        width: 100%;
    }
    .cart-checkout .cart-container img{
        width: 100% !important;
        height: auto !important;
    }
    .cart-checkout .login .left .button-login button,
    .cart-checkout .login .left .button-signup a,
    .cart-checkout .login .left .button-login,
    .cart-checkout .login .left .button-signup {
        width: 100%;
        min-width: 100px;
    }
    .cart-checkout .login .left .button-login,
    .cart-checkout .login .left .button-signup{
        margin: 10px 0px;
    }
}